name: Build and Test

on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - name: Build
      run: dotnet build PrivateConstructorDiagnosticSuppressor.sln --configuration Release
    - name: Test
      run: dotnet test PrivateConstructorDiagnosticSuppressor.sln --configuration Release --no-build --no-restore
